*{
    font-size: 20px;
}

.cal-btn{
    padding: 7px 5px;
    background-color:black;
    color: white;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    cursor: pointer;
}

.bmi-form{
    display: flex;
    flex-direction: column;
}

.bmi-form> *{
    margin-top: 30px;
}

#weight-guide > *{
    margin-top:10px;
}